<!DOCTYPE html>
<html>
    <head>
        <title>Demo application</title>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <style>
            #banner{
                height: 250px;
                width: 100%;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center my-4">Demo application</h1>
            <img class="img-fluid" id="banner" src="/static/img/banner.jpeg">

            <h2 class="text-center my-4">About this application</h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab libero fugit iure, nesciunt quibusdam non aspernatur amet pariatur adipisci debitis veritatis eaque reprehenderit distinctio mollitia placeat est sapiente similique maxime?</p>
            
            <h2 class="text-center my-4">Silly examples of people</h2>
            <div>
                {% for person in people %}
                {% include 'personitem.html' %}
                {% endfor %}
            </div>
            <div class="text-center my-4">
                <button class="btn btn-secondary">This is a button</button>
                <p class="mt-4">Copyright 2023 blah blah blah</p>
            </div>
            
        </div>
    </body>
</html>